:root {
	--main-bg-color: #ffcc91;
	--main-fg-color: #ffe4c6;

	--text-fg-color: #d85e2e;
	--text-fg-color-hover: #db8462;

	--delete-color: #dd5c52;
}

body {
	margin: 0;
	padding: 0;

	color: var(--text-fg-color);
	background-color: var(--main-bg-color);

	font-family: sans-serif;
}

main {
	min-height: 60vh;

	margin: 10px;
	padding: 10px;

	background-color: var(--main-fg-color);
	border-radius: 18px;
}

p {
	margin: 0;
}

#page-title {
	margin: 0;
	text-align: center;
	font-family: "Berkshire Swash";
	font-size: 50px;
	font-weight: 300;
	color: var(--text-fg-color);
}

#title-icon {
	font-size: 35px;
}

#library {
	min-width: 100%;
	display: grid;
	grid-template-columns: 50% auto;
	grid-template-rows: auto;
	gap: 10px;
}

.book {
	min-height: 10vh;

	display: grid;
	grid-template-columns: 80% 20%;
	grid-template-rows: minmax(20vh, auto) auto;

	background-color: var(--main-bg-color);
	border-radius: 10px;
	overflow: hidden;
}

.book > .info {
	grid-area: 1 / 1  /  span 1 / span 2;

	padding: 10px;
}

.book > .toggle-button {
	grid-area: 2 / 1  /  span 1 / span 1;
}

.book > .toggle-button > .button > .material-icons::after {
	content: "visibility_off";
}

.book > .toggle-button > .button::after {
	content: "NOT READ";
}

.book > .toggle-button > input:checked + .button::after {
	content: "READ";
}
  
.book > .toggle-button > input:checked + .button > .material-icons::after {
	content: "visibility";
}

.book > .delete {
	grid-area: 2 / 2  /  span 1 / span 1;

	background-color: var(--delete-color);
	color: #f0f0f0;

	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	border: none;
}

.popup-dialog {
	min-height: 100vh;
	min-width: 100vw;

	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	visibility: hidden;

	z-index: 100;
}

#book-input {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;

	padding: 10px;

	visibility: inherit;

	border-radius: 8px;
	background-color: var(--main-bg-color);
	box-shadow: 0px 5px 12px 1px #0000004f;

}

#book-input > div {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 5px;
}

#book-input input, button {

	padding: 10px;

	font-size: 16px;

	border: none;
	border-radius: 8px;
}

#close {
	position: absolute;
	top: -15px;
	right: -20px;
	
	background-color: transparent;
	color: var(--delete-color);

	border: none;
	border-radius: 100%;
}

#close > .material-icons {
	font-size: 30px;
}

#button-container {
	padding: 10px;

	display: flex;
	justify-content: center;
}

#add-book {

	display: flex;

	align-items: center;
	justify-content: center;
	gap: 4px;

	padding: 5px 10px;
	min-width: 200px;
	min-height: 50px;

	font-size: large;
	font-weight: 600;

	background-color: var(--text-fg-color);

	border: none;
	border-radius: 12px;

	transition: background-color,transform 0.2s;
}

#add-book:hover {
	background-color: var(--text-fg-color-hover);
	transform: scale(1.2);
}

#add-book:active {
	background-color: var(--text-fg-color-hover);
	transform: scale(0.8);
}

.knockout-text {
	color: white;
	background-color: black;
	mix-blend-mode: multiply;
}

html {
	visibility: visible;
	opacity: 1;
}