:root {
	--toggle-color-disabled: #fff5e9;
	--toggle-color-enabled: #ffa947;

	--toggle-button-bg-color-disabled: transparent;
	--toggle-button-bg-color-enabled: cornflowerblue;

	--toggle-button-fg-color-disabled: cornflowerblue;
	--toggle-button-fg-color-enabled: white;

	--toggle-button-border-color-disabled: #80808070;
	--toggle-button-border-color-enabled: transparent;
}

.toggle-button {
	display: block;
}

.toggle-button input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.toggle-button .button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 8px;
	
	cursor: pointer;

	background-color: var(--toggle-bg-color-disabled);
	color: var(--toggle-fg-color-disabled);
	border-radius: 8px;
	border: 2px solid var(--toggle-border-color-disabled);
	
	font-family: sans-serif;

	transition: all 0.3s;
}

input:checked + .button {
	background-color: var(--toggle-bg-color-enabled);
	border-color: var(--toggle-border-color-enabled);
	color: var(--toggle-fg-color-enabled);
	mix-blend-mode: multiply;
}